@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {

    background-color: black;
    color: white;

}

.nav {
    color: rgb(0, 204, 255);
}

.logo {
    height: auto;   /*Sorgt dafür, dass das Image immer im gleichen Format bleibt, auch wenn man das Fenster größer/kleiner macht */
    width: 20%;
    position:fixed;
    object-fit: cover;
    background-color: blue;
}

.test{
    font-size: 100px;
}

.flex{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    height: 250px;
    width:auto;
    background-color: red;
}

.nav input[type=text] {
    height: auto;
    width: 20%;
    float:left;
    border: none;
    margin-right: 16px; 
    font-size: 17px;
  }

.bar {
    position:absolute;
    left: 40%;
    top: 5%;
    
}