
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* #region*//************ DARK MODE *****************/


.dark-theme {
  background-color: black;
  color:white;
  
}

.dark-theme .mostVisited{
  background-color: rgba(255,255,255,0.1);
}
.dark-theme .mostVisited:hover {
  border: 1px solid rgb(0, 220, 253);
}
/*#endregion */

body{
    margin: 0;
    padding: 0;
}
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid rgba(0,0,0,1);
    height: 100px;
    align-items: flex-end;
    top: 0;
    background-color: white;
    z-index: 1;
    
}

#clickLogo {
    height: 70px;
}



#menu a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    
}
#menu a:hover {

    color: rgb(0, 220, 253);
    background-color: black;
    opacity: 0.8;
    padding: 5px;
    border-radius: 14%;
    border: 1px rgb(0, 220, 253) solid;
    box-shadow: 0px 0px 10px rgb(0, 220, 253),

        0px 0px 20px rgb(0, 220, 203);
}

#menu {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 200px);
    margin: 0;
    padding: 0;
    align-items: flex-end;
    margin: 0 0 0 50px;
    font-size: 1.3em;
    flex-wrap: wrap;

}

#test {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  
}

.main {
  margin-top: 100px;
  z-index: 0;
  padding: 50px 0 50px 0;
  
}
.main-objects {

  margin: 0 0 20px 0;
  
}


/* #region/ /******************* TAB ERWEITERUNGEN *****/

#tab_erweiterungen {
  width: 80%;
  height: 300px;
  background-color: white;
  position: fixed;
  z-index: 1;
  left: 10%;
  margin: 11px 0 0 0;
  display: none;
}

#tab_erweiterungen>div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  
}

#tab_erweiterungen img {
  max-height: 80%;
  width: 100%;
  cursor: pointer;
}
#tab_erweiterungen #bild {
  position: absolute;
  right: 10%;
  width: 50%;
}

#tab_erweiterungen>div>div {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
  
}

#tab_erweiterungen span {
  cursor: pointer;
}

#tab_erweiterungen span:hover {
  border-bottom: 1px solid rgb(0, 220, 253);
}








/* #endregion*/


/* #region*//************************ SLIDESHOW ******************/

#slideshow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.slider {
  height: 300px;
  width: calc(100%);
}

#slideshow .clicker {
  border: solid 1px black;
  padding: 16px;
  cursor: pointer;
  position: absolute;
  color: black;
  background-color: rgba(255,255,255,0.2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  opacity: 0;
  
}
#slideshow:hover {
  cursor: pointer;
}

#clickLeft {
  left:0;
  
}
#clickRight {
  right: 0;
  
}

#slideshow .clicker:hover {
  background-color: black;
  color: rgb(0, 220, 253);
}

.animate-left {
  position: relative;
  animation: animateleft 0.8s;
}

@keyframes animateleft {
  from { left :-500px; opacity:0 } 
	to { left:0; opacity:1 }
}





/* #endregion*/


/* #region MostVisited Slider*/

#mostVisited {
  display: flex;
  margin:10px;
  border: solid black 1px;
  overflow: scroll;

}

.mostVisited {
  height: 200px;
  min-width: 30%;
  max-width: 35%;
  background-color: rgba(0,0,0,0.02);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.mostVisited img {
  margin: 10px 0 0 0;
  height: 50%;
  width: 80%;
}
.mostVisited div{
  display: flex;
  height: 50%;
  padding: 10px;
  align-items: flex-end;
  
  justify-content: space-around;
}
#preis {
  margin: 0 10px 0 50px;
}
#beschreibung {
  margin: 0 50px 0 10px;
}
#mostVisitedHeader{
  margin: 0 0 0 20px;
  font-weight: bold;

}





/* #endregion*/
