
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }

/* #region*//************ DARK MODE *****************/


.dark-theme {
  background-color: rgb(18,18,18);
  color:white;
  
}

.dark-theme .mostVisited{
  background-color: rgba(255,255,255,0.1);
}
.dark-theme #mostVisited {
  border: 1px solid white;
}
.dark-theme .mostVisited:hover {
  border: 1px solid rgb(0, 220, 253);
}

/*#region*//******* DARK MODE NAVBAR*/
.dark-theme #navbar {
  background-color: rgb(18,18,18);
  border-bottom: 1px solid white;
}
.dark-theme #navbar #menu a{
  color: white;
}
.dark-theme #navbar #menu a:hover {
  border-radius: 0%;
  box-shadow: none;
  color: rgb(0, 220, 253);
}
.dark-theme #searcher {
  background-color: rgba(255,255,255,0.1);
}

.dark-theme #profileclick {
  border: 1px solid white;
  background-color: rgb(18,18,18);
}

.dark-theme .erweiterungen {
  background-color: rgb(18,18,18);
}



/*#endregion*/

.dark-theme #login-background {
  opacity: 0.8;
  background-color: rgb(18,18,18);
}




/*#endregion */

body{
    margin: 0;
    padding: 0;
}


/*#region*//************** NAVBAR UND SEARCHBAR **********/

#logo-bg {
  position: absolute;
  z-index: -5;
  height: 20px;
  width: 17%;
  height: 60%;
  left: 0;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid rgba(0,0,0,1);
    height: 100px;
    align-items: flex-end;
    top: 0;
    background-color: white;
    z-index: 1;
    
}

#navbar_right {
  width: calc(100% - 220px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#search_bar {
  width: 100%;
  display: flex;
  justify-content: center;
  
}
#searcher {
  width: 80%;
  font-size: 1.5em;
  border: none;
  background-color: rgba(0,0,0,0.04); /*rgb(245,245,245)*/
}
#searcher:focus {
  outline: none;
  border: 1px solid rgb(0, 220, 253);
}
#suchlupe {
  width:5%;
  padding-left: 3%;
  cursor: pointer;
}

#clickLogo {
    height: 70px;
}



#menu a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
    
    
}
#menu a:hover {

  border-radius: 30%;
  box-shadow:
  
    inset 0 0 50px #fff,     
    inset 20px 0 110px rgb(0, 220, 253),  
    
    0 0 50px #fff,            /* outer white */
    -10px 0 80px rgb(0, 220, 253),      
    10px 0 80px rgb(0, 220, 253);      

}

#menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    align-items: flex-end;
    margin: 0 0 0 50px;
    font-size: 1.3em;
    flex-wrap: wrap;

}

#profilepic {
  max-width: 100%;
  max-height: 100%;
  display: none;
}
#profileclick {
  width: 7%;
  height: 70%;
  margin: 10px 20px 10px 10px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  
}

/*#endregion*/


/* #region/ /******************* TAB ERWEITERUNGEN *****/

#tab_erweiterungen {
  width: 100%;
  height: 311px;
  position: fixed;
  z-index: 1;
  left: 0%;
  margin: 0;
  display: none;
  padding: 11px 0 0 0;
}

#tab_erweiterungen>div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  
}

#tab_erweiterungen img {
  max-height: 80%;
  width: 100%;
  cursor: pointer;
}
#tab_erweiterungen #bild {
  position: absolute;
  right: 10%;
  width: 50%;
}

#tab_erweiterungen>div>div {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
  
}

#tab_erweiterungen span {
  cursor: pointer;
}

#tab_erweiterungen span:hover {
  border-bottom: 1px solid rgb(0, 220, 253);
}

.erweiterungen {
  background-color: white;
}


/* #endregion*/


/* #region*//************************ SLIDESHOW ******************/

.main {
  margin-top: 100px;
  z-index: 0;
  padding: 50px 0 50px 0;
  
}
.main-objects {

  margin: 0 0 20px 0;
  
}

#slideshow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.slider {
  height: 300px;
  width: calc(100%);
}

#slideshow .clicker {
  border: solid 1px black;
  padding: 16px;
  cursor: pointer;
  position: absolute;
  color: black;
  background-color: rgba(255,255,255,0.2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  opacity: 0;
  
}
#slideshow:hover {
  cursor: pointer;
}

#clickLeft {
  left:0;
  
}
#clickRight {
  right: 0;
  
}

#slideshow .clicker:hover {
  background-color: black;
  color: rgb(0, 220, 253);
}

.animate-left {
  position: relative;
  animation: animateleft 0.8s;
}

@keyframes animateleft {
  from { left :-500px; opacity:0 } 
	to { left:0; opacity:1 }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* #endregion*/


/* #region*/ /******************** MostVisited Slider ************/

#mostVisited {
  display: flex;
  margin:10px;
  border: solid black 1px;
  overflow: scroll;
  overflow-y: hidden;

}

.mostVisited {
  height: 200px;
  min-width: 30%;
  max-width: 35%;
  background-color: rgba(0,0,0,0.02);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.mostVisited img {
  margin: 10px 0 0 0;
  height: 50%;
  width: 80%;
}
.mostVisited div{
  display: flex;
  height: 50%;
  padding: 10px;
  align-items: flex-end;
  justify-content: space-around;
}
#preis {
  margin: 0 10px 0 50px;
}
#beschreibung {
  margin: 0 50px 0 10px;
}
#mostVisitedHeader{
  margin: 0 0 0 20px;
  font-weight: bold;

}

.productSlider {
  margin: 100px 0 0 0;
}





/* #endregion*/


/* #region*//**************** LOGIN-MASKE **********/

#login-background {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.8;
  z-index: 9998;
  position: fixed;
  display: none;
}

.login-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(120,120,120);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  z-index: 9999;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.moreThanOne {
  display: flex;
  justify-content: space-between;
}
.registration {
  width: 40%;
}

#regi-box {
  display:none;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(0, 220, 253);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(0, 220, 253);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: rgb(0, 220, 253);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0, 220, 253),
              0 0 25px rgb(0, 220, 253),
              0 0 50px rgb(0, 220, 253),
              0 0 100px rgb(0, 220, 253);
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(0, 220, 253));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(0, 220, 253));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(0, 220, 253));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(0, 220, 253));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

#buttons-login {
  display: flex;
  justify-content: space-between;
}

.no-show {
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
}
#registrieren span {
  display: none;
}


#close-login-box {
  transform: rotate(45deg);
  margin-left: -5px;
  margin-top: -30px;
  font-size: xx-large;
  width:5px;
  cursor: pointer;
}

#logout {
  cursor: pointer;
}

/* #endregion*/














