
#inhalt {
    width: 74%;
    padding: 1em 4% 1em 2%;
    float: left;
}

#sidebar {
    float: right;
    width: 20%;
}

#fuss {
    width: 100%;
    text-align: center;
    clear: both; /*Sorgt dafür, dass es keinesfalls neben floatenden Elementen steht, sondern immer darunter*/
    background-color: lightblue;
}

#navbar {
    width: 100%;
    height: 40px;
}

#navbar li {
    float:left;
    display: block;
    padding: 10px 20px;
    border-color: white;
    border-width: 0 1px 0 1px;
    border-style: solid;
    width: 130px;

}

body {
    background-image: url(/images/Hintergrund.png);
    background-size: cover;
}



@media screen and ((max-device-width: 500px) or (max-width: 500px)){

    #inhalt {
        float: none;
        width: 100%;
    }

    #sidebar {
        float: none;
        width: 100%;
    }

    #navbar {
        height: auto;
    }

    #navbar li{
        float: none;
        width: 100%;
        border-width: 0;
    }

    

   


}

@media print {
    #navbar {
        display: none;
    }
    #sidebar {
        display :none;
    }

}


