@media only screen and (min-device-width : 768px) and (max-device-width : 1480px) {
    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-left: 2px;
        padding-right: 2px;

    }

    .dark-theme {
        background-color: #121212;
        color:rgb(228,221,221);
    }

    .dark-theme #navigation {

        border-top: 1px solid white;
        border-bottom: 1px solid white;

    }

    .dark-theme #round-container {
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        min-width: 55px;
        margin-right: 5%;
    }

    .dark-theme #round-container:hover {
        cursor: pointer;
        border-color: rgb(0, 220, 253);
    }

   .dark-theme #plus, .dark-theme #entdecken, .dark-theme #neuware, .dark-theme #inserate, .dark-theme #automobil, .dark-theme #immobilien {
        text-decoration: none;
        color: white;
        margin-top: 3px;
        margin-bottom: 3px;
        transition-property: all;
        transition: 0.2s;
        


    }

    .dark-theme #suche {
        background-color: black;
    }

    #sitehead {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    #logo {
        width: 150px;
        height: auto;
        cursor: pointer;
        margin-left: 5%;
    }

    #search-container {
        display: flex;
        align-items: center;
        width: 50%;
        height: 40px;
        margin-top: 20px;
        

    }

    #suche {
        height: 100%;
        width: 100%;




    }

    #round-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        border: 1px solid black;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        min-width: 55px;
        margin-right: 5%;

    }

    #round-container:hover {
        cursor: pointer;
        border-color: rgb(0, 220, 253);
    }

    #profilbild {
        height: 100%;


    }

    #navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-left: 2%;
        padding-right: 2%;
        height: 35px;
    }


    #mehr {
        display: none;
        
    }

    #plus-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0,0,0.5);
        border-radius: 50%;
        min-width: 15px;
        height: 18px;
        
        
    }

    #plus-container:hover {

        background-color: gray;

    }

    #plus {
        padding-bottom: 2px;
    }

    #plus, #entdecken, #neuware, #inserate, #automobil, #immobilien {
        text-decoration: none;
        color: black;
        margin-top: 3px;
        margin-bottom: 3px;
        transition-property: all;
        transition: 0.2s;
        
    }

    #entdecken:hover, #neuware:hover, #inserate:hover, #automobil:hover, #immobilien:hover {
        color: rgb(0, 220, 253);
        background-color: black;
        opacity: 0.5;
        margin: 0.5px;
        border-radius: 14%;
        border: 1px rgb(0, 220, 253) solid;
        box-shadow: 0px 0px 10px  rgb(0, 220, 253),
        
        0px 0px 20px  rgb(0, 220, 203);
        
    }

    #plus:hover {
        color: rgb(0, 220, 253);
        margin: 0.5px;
    }

    #mehr {
        display: none;
    }

    #dropdown-mehr {
        display:none;
    }

}

