@media only screen and (min-device-width: 316px) and  (max-device-width: 550px) {
    * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition-property: all;
        transition-duration: 0.3s;
    }

    html,
    body {
        height: 100%;
        margin: 0;

    }



    .dark-theme {
        background-color: #121212;
        color: rgb(228, 221, 221);
        transition-property: all;
        transition-duration: 0.3s;
    }

    .geklickt {
        color: rgb(0, 220, 253);
        font-weight: bold;
    }



    .dark-theme #navigation {

        border-top: 2.5px solid rgba(221, 216, 216, 0.558);
        border-bottom: 2.5px solid rgba(221, 216, 216, 0.558);

    }


    .dark-theme #plus-container,
    .dark-theme #entdecken,
    .dark-theme #neuware,
    .dark-theme #inserate,
    .dark-theme #mehr {
        text-decoration: none;
        box-sizing: border-box;
        color: rgb(228, 221, 221);
        margin-top: 3px;

        margin-bottom: 3px;
        padding: 7px;
        transition-property: all;
        transition: 0.2s;

    }

    .dark-theme #suche {
        background-color: rgb(51, 51, 51);
        
    }

    .dark-theme #suche::placeholder {
        color: #bbb;
    }

    .dark-theme #suche:focus {
        background-color: #bbb;
        border: 1px solid white;
        color: black;
    }

    .dark-theme #dropdown-mehr {
        background-color: black;
        color: rgb(228, 221, 221);
        opacity: 0.6;
    }

    .dark-theme #dropdown-mehr a {
        color: rgb(228, 221, 221);
    }

    .dark-theme #round-container-mobile {
        border: 1px solid #bbb;
    }

    .dark-theme .vorschlag-container {
        background-color: rgb(51, 51, 51);
        
    }

    .dark-theme #mehr-anzeigen {
        background-color: rgb(51, 51, 51);
    }

    #sitehead {
        display: block;


    }

    h1, h2 {
        font-size: x-large;
    }


    #click-logo {
        width: 80px;
        height: auto;
        cursor: pointer;
        margin-left: 2%;
        margin-top: 3%;

    }

    #logo {
        width: 100%;
        height: auto;
    }

    #logo-mehr-mobile {
        display: flex;
        justify-content: space-between;
    }

    #search-container {
        display: flex;
        align-items: center;
        width: 96%;
        margin-left: 2%;
        height: 40px;
        margin-top: 20px;
        border-radius: 5px;
        overflow: hidden;
        border: 0;


    }

    #suche {

        height: 100%;
        width: 100%;
        border-radius: inherit;
        border: 0;
        background-color: rgba(221, 216, 216, 0.558);
        text-overflow: ellipsis;






    }



    #suche::placeholder {
        color: rgb(124, 122, 122);
        font-size: large;
        padding-left: 10px;

    }

    #suche:focus {
        box-shadow: 0 0 3px 0 #1183d6;
        border-color: #1183d6;
        background-color: rgb(241, 239, 239);
        border: 1px solid;
        outline: none;
    }

    #round-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        border: 1px solid black;
        height: 60px;
        width: 55px;
        border-radius: 50%;
        overflow: hidden;
        min-width: 55px;
        display: none;

    }

    #round-container:hover {
        cursor: pointer;
        border-color: rgb(0, 220, 253);
    }

    #profilbild {
        height: 100%;


    }


    #navigation {
        display: flex;
        justify-content: space-around;
        background-color: rgba(221, 216, 216, 0.558);
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        /*border: 2px solid rgb(51, 51, 51);*/
       /* border-top: 2.5px solid rgb(51, 51, 51);
        border-bottom: 2.5px solid rgb(51, 51, 51);*/
        border-radius: 15px;
        padding-left: 2px;
        padding-right: 2px;
        margin-left: 0.7%;
        height: 50px;
        width: 96%;
    }

    #inserate {
        display: none;
    }
    #dienstleistungen {
        display:none;
    }

    #immobilien {
        display: none;

    }

    #automobil {
        display: none;
    }


    #plus,
    #entdecken,
    #neuware,
    #dienstleistungen,
    #inserate,
    #mehr {
        text-decoration: none;
        color: black;
        font-size: larger;
        font-weight: bolder;
        margin-top: 3px;
        margin-bottom: 3px;
        padding: 7px;
        transition-property: all;
        transition: 0.2s;

    }

    #plus,
    #entdecken,
    #neuware,
    #dienstleistungen,
    #inserate {
        margin: 3px 7px 3px 7px;
    }


    #entdecken:hover,
    #neuware:hover,
    #inserate:hover {
        color: rgb(0, 220, 253);
        background-color: black;
        opacity: 0.5;
        padding: 10px;
        border-radius: 14%;
        border: 1px rgb(0, 220, 253) solid;
        box-shadow: 0px 0px 10px rgb(0, 220, 253),

            0px 0px 20px rgb(0, 220, 203);

    }



    #plus-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        min-width: 18px;
        padding-bottom: 2px;
        height: 18px;


    }

    #plus-container:hover {

        background-color: gray;
        color: rgb(0, 220, 253);

    }

    #mehr {
        font-size: xx-large;
        margin-right: 10px;

    }


    #mehr:hover {

        color: rgb(0, 220, 253);
        background-color: black;
        opacity: 0.5;
        padding: 1px;
        border-radius: 14%;
        border: 1px rgb(0, 220, 253) solid;
        box-shadow: 0px 0px 10px rgb(0, 220, 253),

            0px 0px 20px rgb(0, 220, 203);
    }

    #all {
        z-index: 1;
    }

    @keyframes allSwipeLeft {
        from {
            filter: blur(0);
        }

        66% {
            filter: blur(9.9px);
        }

        to {
            filter: blur(10px);
        }
    }

    @keyframes allSwipeRight {
        from {
            filter: blur(10px);
        }

        66% {
            filter: blur(0.1px);
        }

        to {
            filter: blur(0);
        }
    }

    @keyframes dropDownOpen {
        from {
            display: block;
            width: 0.1%;
        }

        66% {
            display: block;
            width: 49.99%;
        }

        to {
            display: block;
            width: 50%;
        }
    }

    @keyframes dropDownClose {
        from {
            width: 49.99%;
        }

        66% {
            width: 0.01%;
        }

        to {
            display: none;
            width: 0;
        }
    }

    #dropdown-mehr {
        display: none;
        overflow: hidden;
        background-color: #bbb;
        opacity: 0.7;
        color: black;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 3;
        text-align: center;
        overflow: scroll;
    }

    #dropdown-mehr a {
        position: relative;
        ;
        top: 15%;
        text-decoration: none;
        color: black;

    }

    #toggle-switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #toggle-switch div {
        border: 1px white solid;
        width: 100%;
        height: 100%;
        transition-duration: 1ms;

    }

    #lightmode {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    #auto-dark-light {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: smaller;
    }



    .dark-theme #toggle-switch div {
        transition-duration: 1ms;
    }


    #dropdown-mehr #close-mobile-dropdown {
        border: none;
    }

    #close-mobile-dropdown {

        margin-right: 80%;
        font-size: xx-large;

    }

    #div-for-round-container-mobile {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #round-container-mobile {
        overflow: hidden;
        display: flex;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 1px solid black;
    }

    #round-container-mobile:hover {
        border-color: rgb(0, 220, 253);
    }

    ul li {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        padding-right: 28%;
    }





    #dropdown-mobile-liste a {
        font-size: larger;
    }



    #profilbild-mobile {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto
    }

    #seiteninhalt {
        margin: 0 18px 0 18px;
        display: block;
        height: 100%;

    }

    #alle-vorschlaege-container {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90%;
    }

    .vorschlag-container {
        background-color: rgba(221, 216, 216, 0.558);
        position: relative;
        display: block;
        border-radius: 10px;
        padding: 5px;
        width:44%;
        z-index: 1000;
        height: 100%;
        max-height: 270px;
        min-height: 270px;
        overflow: hidden;
        line-height: 120.5%;
        
    }

    .artikel-bild-container {
        display: flex;
        justify-content: center;
        height: 120px;
        margin-top: 5px;
        width:98%;
    }

    em {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: large;
        text-overflow: ellipsis;
        width: 975;
    }

    #vorschlag-bild,
    #vorschlag-bild-2 {
        max-width: 97%;
        
        

    }

    .artikel-bezeichner {
        font-size: smaller;

    }

    .zustand-bezeichner {
        font-weight: bolder;
    }

    .bezeichner {
        font-size: small;
    }

    .shop-bezeichner {
        color: rgb(0, 220, 253);
        font-weight: bolder;
        font-style: italic;
    }

    .preis-bezeichner  {

        font-weight: bolder;
        font-size:80%;

    }

    #flex-for-mehr-anzeigen {
        display: flex;
        justify-content: center;
    }

    #mehr-anzeigen {
        background-color: rgba(221, 216, 216, 0.558);
        border-radius: 100px;
        text-align: center;
        font-weight: bolder;
        width: 150px;
        padding: 13px 0 13px 0;
        margin-top: 15px;
    }


































}