@media only screen and (min-device-width: 551px) and (max-device-width: 767px) {
    * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-left: 2px;
        padding-right: 2px;

    }

    #sitehead {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    #logo {
        width: 100px;
        height: auto;
        cursor: pointer;
    }

    #search-container {
        display: flex;
        align-items: center;
        width: 40%;
        height: 16%;
        margin-top: 20px;

    }

    #suche {
        height: 100%;
        width: 100%;




    }

    #round-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        border: 1px solid black;
        height: 60px;
        width: 55px;
        border-radius: 50%;
        overflow: hidden;
        min-width: 55px;

    }

    #round-container:hover {
        cursor: pointer;
        border-color: rgb(0, 220, 253);
    }

    #profilbild {
        height: 100%;


    }

    #navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
    }

    #immobilien {
        display:none;

    }



    #plus, #entdecken, #neuware, #inserate, #automobil {
        text-decoration: none;
        color: black;
        margin-top: 3px;
        margin-bottom: 3px;
        transition-property: all;
        transition: 0.2s;
        
    }

    #entdecken:hover, #neuware:hover, #inserate:hover, #automobil:hover {
        color: rgb(0, 220, 253);
        background-color: black;
        opacity: 0.5;
        padding: 1px;
        border-radius: 14%;
        border: 1px rgb(0, 220, 253) solid;
        box-shadow: 0px 0px 10px  rgb(0, 220, 253),
        
        0px 0px 20px  rgb(0, 220, 203);
        
    }

    #plus:hover {
        color: rgb(0, 220, 253);
        padding: 1px;
    }

    #plus-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0,0,0.5);
        border-radius: 50%;
        min-width: 15px;
        height: 18px;
        
        
    }

    #plus-container:hover {

        background-color: gray;

    }

    
    #mehr:hover {
        
        color: rgb(0, 220, 253);
        background-color: black;
        opacity: 0.5;
        padding: 1px;
        border-radius: 14%;
        border: 1px rgb(0, 220, 253) solid;
        box-shadow: 0px 0px 10px  rgb(0, 220, 253),
        
        0px 0px 20px  rgb(0, 220, 203);
    }





    


}