@media only screen and (min-device-width: 760px) {

    #mobile-version {
      display: none;
    }
  
  * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
    }
  
  /* #region*//************ DARK MODE *****************/
  
  
  .dark-theme_d {
    background-color: rgb(18,18,18);
    color:white;
    
  }
  
  .dark-theme_d .mostVisited_d{
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #mostVisited_d {
    border: 1px solid white;
  }
  .dark-theme_d .mostVisited_d:hover {
    border: 1px solid rgb(0, 220, 253);
  }
  
  /*#region*//******* DARK MODE NAVBAR*/
  .dark-theme_d #navbar_d {
    background-color: rgb(18,18,18);
    border-bottom: 1px solid white;
  }
  .dark-theme_d #navbar_d #menu_d a{
    color: white;
  }
  .dark-theme_d #navbar_d #menu_d a:hover {
    border-radius: 0%;
    box-shadow: none;
    color: rgb(0, 220, 253);
  }
  .dark-theme_d #searcher_d {
    background-color: rgba(255,255,255,0.1);
  }
  
  .dark-theme_d #profileclick_d {
    border: 1px solid white;
    background-color: rgb(18,18,18);
  }
  
  .dark-theme_d .erweiterungen_d {
    background-color: rgb(18,18,18);
  }

  .dark-theme_d #login-background_d {
    opacity: 0.8;
    background-color: rgb(18,18,18);
  }

  .dark-theme_d #loggedInDropDownSquare_d {
    background-color: rgb(18,18,18);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }

  .dark-theme_d #lighter_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #darker_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }
  .dark-theme_d #system_d {
    background-color: rgba(255,255,255,0.1);
  }

  .system_dark-theme_d #lighter_d {
    background-color: rgba(255,255,255,0.1);
    color: white;
  }
  .system_dark-theme_d #darker_d {
    background-color: rgba(255,255,255,0.1);
    color: white;
  }
  .system_dark-theme_d #system_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }
  .system_light-theme_d #lighter_d {
    background-color: rgb(240,240,240);
    color: black;
  }
  .system_light-theme_d #darker_d {
    background-color: rgb(240,240,240);
    color: black;
  }
  .system_light-theme_d #system_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }

  
  
  
  /*#endregion*/
  
  
  
  
  
  
  /*#endregion */
  
  body{
      margin: 0;
      padding: 0;
  }
  
  
  /*#region*//************** NAVBAR UND SEARCHBAR **********/
  
  #logo-bg_d {
    position: absolute;
    z-index: -5;
    height: 20px;
    width: 17%;
    height: 60%;
    left: 0;
  }
  
  #navbar_d {
      position: fixed;
      width: 100%;
      display: flex;
      padding: 0px 10px 10px 10px;
      border-bottom: 1px solid rgba(0,0,0,1);
      height: 100px;
      align-items: flex-end;
      top: 0;
      background-color: white;
      z-index: 2;
      margin: 10px 0 0 0;
      
  }
  
  #navbar_right_d {
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  #search_bar_d {
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  #searcher_d {
    width: 80%;
    font-size: 1.5em;
    border: none;
    background-color: rgba(0,0,0,0.04); /*rgb(245,245,245)*/
  }
  #searcher_d:focus {
    outline: none;
    border: 1px solid rgb(0, 220, 253);
  }
  #suchlupe_d {
    width:5%;
    padding-left: 3%;
    cursor: pointer;
  }
  
  #clickLogo_d {
      height: 90px;
  }
  
  
  
  #menu_d a{
      display: block;
      text-decoration: none;
      font-weight: bold;
      color: black;
      margin: 10px 0 0 0;
      padding: 0;
      text-align: center;
      
      
  }
  #menu_d a:hover {
  
    border-radius: 30%;
    box-shadow:
    
      inset 0 0 50px #fff,     
      inset 20px 0 110px rgb(0, 220, 253),  
      
      0 0 50px #fff,            /* outer white */
      -10px 0 80px rgb(0, 220, 253),      
      10px 0 80px rgb(0, 220, 253);      
  
  }
  
  #menu_d {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      align-items: flex-end;
      margin: 0 0 0 0px;
      font-size: 1.3em;
      flex-wrap: wrap;
  
  }
  
  #profilepic_d {
    max-width: 100%;
    max-height: 100%;
    display: none;
  }
  #profileclick_d {
    width: 80px;
    height: 80px;
    margin: 10px 20px 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    z-index: 5;
  }
  
  /*#endregion*/
  
  
  /* #region/ /******************* TAB ERWEITERUNGEN *****/
  
  #tab_erweiterungen_d {
    width: 100%;
    height: 311px;
    position: fixed;
    z-index: 1;
    left: 0%;
    margin: 0;
    display: none;
    padding: 11px 0 0 0;
  }
  
  #tab_erweiterungen_d>div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    
  }
  
  #tab_erweiterungen_d img {
    max-height: 80%;
    width: 100%;
    cursor: pointer;
  }
  #tab_erweiterungen_d #bild_d {
    position: absolute;
    right: 10%;
    width: 50%;
  }
  
  #tab_erweiterungen_d>div>div {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 10px;
    
  }
  
  #tab_erweiterungen_d span {
    cursor: pointer;
  }
  
  #tab_erweiterungen_d span:hover {
    border-bottom: 1px solid rgb(0, 220, 253);
  }
  
  .erweiterungen_d {
    background-color: white;
  }
  
  
  /* #endregion*/
  
  .main_d {
    margin-top: 100px;
    z-index: 0;
    padding: 50px 0 50px 0;
    
  }
  

  
  /* #region*//**************** LOGIN-MASKE **********/
  
  #login-background_d {
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: 9998;
    position: fixed;
    display: none;
  }
  
  
  
  .login-box_d {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(120,120,120);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 9999;
  }
  
  .login-box_d h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box_d .user-box_d {
    position: relative;
  }
  
  .login-box_d .user-box_d input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .moreThanOne_d {
    display: flex;
    justify-content: space-between;
  }
  .registration_d {
    width: 40%;
  }
  
  #regi-box_d {
    display:none;
  }
  
  .login-box_d .user-box_d label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box_d .user-box_d input:focus ~ label,
  .login-box_d .user-box_d input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(0, 220, 253);
    font-size: 12px;
  }
  
  .login-box_d form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(0, 220, 253);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .login-box_d a:hover {
    background: rgb(0, 220, 253);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 220, 253),
                0 0 25px rgb(0, 220, 253),
                0 0 50px rgb(0, 220, 253),
                0 0 100px rgb(0, 220, 253);
  }
  
  .login-box_d a span {
    position: absolute;
    display: block;
  }
  
  .login-box_d a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(0, 220, 253));
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box_d a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(0, 220, 253));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box_d a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(0, 220, 253));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box_d a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(0, 220, 253));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  #buttons-login_d {
    display: flex;
    justify-content: space-between;
  }
  
  .no-show_d {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.5;
  }
  #registrieren_d span {
    display: none;
  }
  
  
  #close-login-box_d {
    transform: rotate(45deg);
    margin-left: -5px;
    margin-top: -30px;
    font-size: xx-large;
    width:5px;
    cursor: pointer;
  }
  
  
  

/***************** Login Drop Down **********/

#loggedInDropDownSquare_d {

  height: 50px;
  background-color: white;
  position: fixed;
  z-index: 3;
  right: 0;

  width: 77px;
  height: 200px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 5px 5px;
  right: 10px;
  top: 56px;
  
  display: none;

}

#dreiWege_d {
  display: flex;
  justify-content: space-around;
  margin: 60px 0 0 0;
}

#dreiWege_d div {
  
  border-radius: 25%;
  width: 30%;
  text-align: center;
  cursor: pointer;
}

#lighter_d {
  background-color: rgb(0, 220, 253);
}
#darker_d {
  background-color: rgb(240,240,240);
}
#system_d {
  background-color: rgb(240,240,240);
}



#logout_d {
  position: absolute;
  bottom: 10px;
  margin: 10px 0 0 0;
  text-align: center;
  width: 100%;
  cursor: pointer;

}

#myProfile_d {
  font-size: 12px;
  text-align: center;
  margin: 20px 0 0 0;
  cursor: pointer;
}

#settings_d {
  font-size: 12px;
  text-align: center;
  margin: 20px 0 0 0;
  cursor: pointer;
}





/* #endregion*/





/*#region #########LÄDT CSS BEVOR DIE HTML ANGEZEIGT WIRD###########*/

#everything {
  display: block !important;
}

/* #endregion*/


/*#region*/ /*********** ShopDarstellung *********/

#titelbildDiv_d {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
#titelbildDiv_d>img {
    width: 98%;
}

#profilbildDiv_d {
    border: 1px solid rgb(200,200,200);
    background-color: white;
    width: fit-content;
    border-radius: 25% 25% 25% 25%;
    overflow: hidden;

}
#profilbildDiv_d>img {
    height: 100px;
}

#profilHead_d {
    width: 100%;
    display: flex;
    justify-content: center;
}

#profilBildDivLeft_d {
    width: 44%;
    background-color: rgb(240,240,240);
}

#profilBildDivRight_d {
    width: 44%;
    background-color: rgb(240,240,240);
}




/*#endregion*/





  
  }