@media only screen and (min-device-width: 760px) {

    #mobile-version {
      display: none;
    }
  
  * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
    }
  
  /* #region*//************ DARK MODE *****************/
  
  
  .dark-theme_d {
    background-color: rgb(18,18,18);
    color:white;
    
  }
  
  .dark-theme_d .mostVisited_d{
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #mostVisited_d {
    border: 1px solid white;
  }
  .dark-theme_d .mostVisited_d:hover {
    border: 1px solid rgb(0, 220, 253);
  }
  
  /*#region*//******* DARK MODE NAVBAR*/
  .dark-theme_d #navbar_d {
    background-color: rgb(18,18,18);
    border-bottom: 1px solid white;
  }
  .dark-theme_d #navbar_d #menu_d a{
    color: white;
  }
  .dark-theme_d #navbar_d #menu_d a:hover {
    border-radius: 0%;
    box-shadow: none;
    color: rgb(0, 220, 253);
  }
  .dark-theme_d #searcher_d {
    background-color: rgba(255,255,255,0.1);
  }
  
  .dark-theme_d #profileclick_d {
    border: 1px solid white;
    background-color: rgb(18,18,18);
  }
  
  .dark-theme_d .erweiterungen_d {
    background-color: rgb(18,18,18);
  }

  .dark-theme_d #login-background_d {
    opacity: 0.8;
    background-color: rgb(18,18,18);
  }

  .dark-theme_d #loggedInDropDownSquare_d {
    background-color: rgb(18,18,18);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }
  .dark-theme_d #lighter_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #darker_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }
  .dark-theme_d #system_d {
    background-color: rgba(255,255,255,0.1);
  }
  







  .system_dark-theme_d #lighter_d {
    background-color: rgba(255,255,255,0.1);
    color: white;
  }
  .system_dark-theme_d #darker_d {
    background-color: rgba(255,255,255,0.1);
    color: white;
  }
  .system_dark-theme_d #system_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }
  .system_light-theme_d #lighter_d {
    background-color: rgb(240,240,240);
    color: black;
  }
  .system_light-theme_d #darker_d {
    background-color: rgb(240,240,240);
    color: black;
  }
  .system_light-theme_d #system_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }

  
  
  
  /*#endregion*/
  

  .dark-theme_d #profilBildHintergrund_d {
    background-color: rgb(18,18,18);
  }
  .dark-theme_d #profilReviews_d {
    background-color: rgb(25,25,25);
  }
  .dark-theme_d #weitereInfosShop_d>div {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #ueberUnsDiv_d div {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #inserateSearcher_d {
    background-color: rgb(18,18,18);
    color: white;
  }
  .dark-theme_d .artikelShop_d {
    background-color: rgb(50,50,50);
  }
  .dark-theme_d .customerReviewLeft_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d .customerReviewMiddle_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d .customerReviewRight_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #statistikenLeft_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #statistikenLeft_d>div:nth-child(2) span:nth-child(1) {
    border-bottom: 1px solid rgb(0, 220, 253);
  }
  .dark-theme_d #statistikenRight_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #statistikenRight_d>div:nth-child(2)>div>span:nth-child(1) {
    border-bottom: 1px solid rgb(0, 220, 253);
  }
  
  
  
  
  /*#endregion */
  
  body{
      margin: 0;
      padding: 0;
  }
  
  
  /*#region*//************** NAVBAR UND SEARCHBAR **********/
  
  #logo-bg_d {
    position: absolute;
    z-index: -5;
    height: 20px;
    width: 17%;
    height: 60%;
    left: 0;
  }
  
  #navbar_d {
      position: fixed;
      width: 100%;
      display: flex;
      padding: 10px 10px 10px 10px;
      border-bottom: 1px solid rgba(0,0,0,1);
      height: 110px;
      align-items: flex-end;
      top: 0;
      background-color: white;
      z-index: 2;
      
  }
  
  #navbar_right_d {
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  #search_bar_d {
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  #searcher_d {
    width: 80%;
    font-size: 1.5em;
    border: none;
    background-color: rgba(0,0,0,0.04); /*rgb(245,245,245)*/
  }
  #searcher_d:focus {
    outline: none;
    border: 1px solid rgb(0, 220, 253);
  }
  #suchlupe_d {
    width:5%;
    padding-left: 3%;
    cursor: pointer;
  }
  
  #clickLogo_d {
      height: 90px;
  }
  
  
  
  #menu_d a{
      display: block;
      text-decoration: none;
      font-weight: bold;
      color: black;
      margin: 10px 0 0 0;
      padding: 0;
      text-align: center;
      
      
  }
  #menu_d a:hover {
  
    border-radius: 30%;
    box-shadow:
    
      inset 0 0 50px #fff,     
      inset 20px 0 110px rgb(0, 220, 253),  
      
      0 0 50px #fff,            /* outer white */
      -10px 0 80px rgb(0, 220, 253),      
      10px 0 80px rgb(0, 220, 253);      
  
  }
  
  #menu_d {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      align-items: flex-end;
      margin: 0 0 0 0px;
      font-size: 1.3em;
      flex-wrap: wrap;
  
  }
  
  #profilepic_d {
    max-width: 100%;
    max-height: 100%;
    display: none;
  }
  #profileclick_d {
    width: 80px;
    height: 80px;
    margin: 10px 20px 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    z-index: 5;
  }
  
  /*#endregion*/
  
  
  /* #region/ /******************* TAB ERWEITERUNGEN *****/
  
  #tab_erweiterungen_d {
    width: 100%;
    height: 311px;
    position: fixed;
    z-index: 1;
    left: 0%;
    margin: 0;
    display: none;
    padding: 11px 0 0 0;
  }
  
  #tab_erweiterungen_d>div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    
  }
  
  #tab_erweiterungen_d img {
    max-height: 80%;
    width: 100%;
    cursor: pointer;
  }
  #tab_erweiterungen_d #bild_d {
    position: absolute;
    right: 10%;
    width: 50%;
  }
  
  #tab_erweiterungen_d>div>div {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 10px;
    
  }
  
  #tab_erweiterungen_d span {
    cursor: pointer;
  }
  
  #tab_erweiterungen_d span:hover {
    border-bottom: 1px solid rgb(0, 220, 253);
  }
  
  .erweiterungen_d {
    background-color: white;
  }
  
  
  /* #endregion*/
  
  .main_d {
    margin-top: 100px;
    z-index: 0;
    padding: 50px 0 50px 0;
    position: relative;
    
  }
  

  
  /* #region*//**************** LOGIN-MASKE **********/
  
  #login-background_d {
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: 9998;
    position: fixed;
    display: none;
  }
  
  
  
  .login-box_d {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(120,120,120);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 9999;
  }
  
  .login-box_d h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box_d .user-box_d {
    position: relative;
  }
  
  .login-box_d .user-box_d input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .moreThanOne_d {
    display: flex;
    justify-content: space-between;
  }
  .registration_d {
    width: 40%;
  }
  
  #regi-box_d {
    display:none;
  }
  
  .login-box_d .user-box_d label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box_d .user-box_d input:focus ~ label,
  .login-box_d .user-box_d input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(0, 220, 253);
    font-size: 12px;
  }
  
  .login-box_d form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(0, 220, 253);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .login-box_d a:hover {
    background: rgb(0, 220, 253);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 220, 253),
                0 0 25px rgb(0, 220, 253),
                0 0 50px rgb(0, 220, 253),
                0 0 100px rgb(0, 220, 253);
  }
  
  .login-box_d a span {
    position: absolute;
    display: block;
  }
  
  .login-box_d a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(0, 220, 253));
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box_d a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(0, 220, 253));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box_d a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(0, 220, 253));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box_d a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(0, 220, 253));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  #buttons-login_d {
    display: flex;
    justify-content: space-between;
  }
  
  .no-show_d {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.5;
  }
  #registrieren_d span {
    display: none;
  }
  
  
  #close-login-box_d {
    transform: rotate(45deg);
    margin-left: -5px;
    margin-top: -30px;
    font-size: xx-large;
    width:5px;
    cursor: pointer;
  }
  
  
  



/*#region*/ /*********** ShopDarstellung *********/

#titelbildDiv_d {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0.2;

}
#titelbildDiv_d>img {
    width: 98%;
}

#profilbildDiv_d {
    border: 1px solid rgb(200,200,200);
    background-color: white;
    width: fit-content;
    border-radius: 25% 25% 25% 25%;
    overflow: hidden;
    z-index: 2;

}
#profilbildDiv_d>img {
    height: 100px;
}

#profilHead_d {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 175px;
    z-index: 1;
}

#profilBildHintergrund_d {
  position: absolute;
  width: 800px;
  height: 400px;
  background-color: white;
  z-index: 1;
  top: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

#profilBildHintergrundBeschriftung_d {
  width: 95%;
  height: 60%;
  position: relative;
  top: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#profilBildHintergrundBeschriftung_d>h3 {
  position: absolute;
  top: 45px;
  font-size: 1em;
  font-weight: lighter;
  
}
#profilRatingsUndStatistik_d {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;

}

#profilStatistiken_d {
  width: 45%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profilStatistiken_d div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profilStatistiken_d div span:nth-child(2) {
  font-weight: lighter;
}


#profilRatings_d {
  width: 45%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#profilRatings_d div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#stars_d {
  color: rgb(0, 220, 253);
}

#profilReviews_d {
  max-width: 90%;
  height: 50px;
  background-color: rgb(240,240,240);
  padding: 0px 10px 0px 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


#shopUmschalteButtons_d {

  width: 300px;
  height: 150px;
  position: absolute;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#shopUmschalteButtons_d span {
  font-size: 1.2em;
  cursor: pointer;
}
#shopUmschalteShop_d {
  border-bottom: 1px solid rgb(0, 220, 253);
}
#shopUmschalteButtons_d span:hover {
  border-bottom: 1px solid rgb(0, 220, 253);
}






/*#endregion*/

/*#region **************** Produkte *************/


#shopInserate_d {
  margin: 270px 0 0 1%;
  width: 98%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#productBar_d {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#productBar_d span {
  font-weight: bolder;
  font-size: 1.5em;
}
#inserateSearcher_d{
  height: 60%;
  width: 300px;
  font-size: 1.2em;
  border-radius: 10px;
  border-style: solid;
  background-color: white;
  padding: 2px;
}
#inserateSearcher_d:focus {
  outline: none;
  border: 1px solid rgb(0, 220, 253);
}

#shopArtikelListe_d {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artikelShop_d {
  width: 300px;
  height: 220px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  background-color: rgb(230,230,230);
}
.artikelShop_d div:nth-child(1) {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.artikelShop_d img {
  max-width: 100%;
  height: 180px;
  cursor: pointer;

}
.shopProduktBeschreibung_d {
  display: flex;
  justify-content: space-between;
  align-items: center;

}










/*#endregion*/

/*#region ************* Shop Info ********/

#shopInfo_d {
  display: none;
  margin: 270px 0 0 1%;
  width: 98%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#shopInfoBox_d {
  width: 100%;
  height: 800px;
  background-color: red;
  display: flex;
  flex-direction: column;
  position: relative;
}

#ueberUnsDiv_d {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px 0;
  position: relative;
}
#ueberUnsDiv_d span {
  font-size: 1.5em;
  font-weight: bolder;
}
#ueberUnsDiv_d div {
  width: 40%;
  max-height: 300px;
  overflow: scroll;
  background-color: rgb(240,240,240);
  border-radius: 25px;
  text-align: center;
  line-height: 200%;
  padding: 10px;
  margin: 10px 0 0 0;
}

#weitereInfosShop_d {
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: space-around;

}
#weitereInfosShop_d>div {
  width: 40%;
  height: 100%;
  background-color: rgb(240,240,240);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  
}

#shopInfoBildLinks_d {
  max-height: 300px;
  position: absolute;
  left: 30px;
  top: 30px;
}
#shopInfoBildRechts_d {
  max-height: 300px;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 25px;
  
}



.harteCaptions_d {
  color: grey;
  font-size: 1.2em;
}
.harteFakten_d {
  font-size: 1.2em;
}





/*#endregion*/


/*#region ************* Shop Bewertung ********/

#shopBewertung_d {
  display: none;
  margin: 270px 0 0 1%;
  width: 98%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bewertungsBox_d {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0 0 0;

}

.customerReview_d {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}


.customerReviewLeft_d {
  width: 20%;
  height: 250px;
  
  border-radius: 20px 20px 20px 20px;
  border-right: 1px solid rgb(150,150,150);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.customerReviewLeft_d>div {
  height: 50%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.customerReviewMiddle_d {
  width: 40%;
  height: calc(250px - 40px);
  
  border-radius: 20px 20px 20px 20px;
  overflow: scroll;
  border-right: 1px solid rgb(150,150,150);
  padding: 20px;
  line-height: 2em;
}
.customerReviewRight_d {
  width: 20%;
  height: 250px;
  background-color: rgb(240,240,240);
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  position: relative;
}
.customerReviewRight_d img {
  width: 70%;
  margin: 0 0 30px 0;
}
.customerReviewRight_d span {
  font-size: 1.2em;
  margin: 0 0 30px 0;
}


#bewertungsStatistiken_d {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;

}

#arrowDown_d {
  display: inline-block;
  transform: rotate(90deg);
  height: fit-content;
  width: fit-content;
}
#arrowUp_d {
  display: inline-block;
  transform: rotate(-90deg);
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}
#customerReviewKlein_d {
  position: relative;
  display: flex;
  height: fit-content;
  width: 800px;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 30px 0;

}
#customerReviewKlein_d>div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liftGoesDown_d {
  cursor: pointer;
}












#statistikenLeft_d {
  width: 25%;
  height: 120px;
  background-color: rgb(240,240,240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 15px;
}
#statistikenLeft_d>div:nth-child(1){
  display: flex;
  flex-direction: column;
  height: 30%;
}
#statistikenLeft_d>div:nth-child(1)>span:nth-child(1){
  font-weight: 600;
}
#statistikenLeft_d>div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  height: 60%;
  align-items: center;
}
#statistikenLeft_d>div:nth-child(2)>div {
  display: flex;
  flex-direction: column;
}
#statistikenLeft_d>div:nth-child(2)>div>span {
  margin: 3px;
}
#statistikenLeft_d>div:nth-child(2)>div>span:nth-child(1) {
  border-bottom: 1px solid black;
  font-weight: 700;
  width: fit-content;
}


#statistikenRight_d {
  width: 65%;
  height: 120px;
  background-color: rgb(240,240,240);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#statistikenRight_d>div:nth-child(1) {
  display: flex;
  flex-direction: column;
  height: 30%;
}
#statistikenRight_d>div:nth-child(1)>span:nth-child(1){
  font-weight: 600;
}
#statistikenRight_d>div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  height: 60%;
  align-items: center;
}
#statistikenRight_d>div:nth-child(2)>div {
  display: flex;
  flex-direction: column;
  align-items: center;

}
#statistikenRight_d>div:nth-child(2)>div>span {
  margin: 3px;
}
#statistikenRight_d>div:nth-child(2)>div>span:nth-child(1) {
  border-bottom: 1px solid black;
  font-weight: 700;
  width: fit-content;
}
#statistikenRight_d>div:nth-child(2)>div>div {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}








/*#endregion*/



/*#region ************* Shop Aktivität***********/


#shopActivity_d {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 270px 0 0 10%;
  width: 80%;
  background-color: purple;
  border-radius: 20px;
}

#captionActivity_d {
  width: 100%;
  justify-content: flex-start;
  margin: 30px;
}
#captionActivity_d span {
  margin: 0 0 0 100px;
  font-size: 2em;
  font-weight: bolder;
}

#firstContainer_d {
  margin: 50px 0 0 0;
}

.activityContainer_d {

  width: 70%;
  height: 400px;
  background-color: red;
  margin: 20px 0 20px 0;
  border-radius: 20px;

}
.activityContainer_d a {
  font-weight: bolder;
}
.whoAndWhat_d {
  font-size: 1.5em;
  margin: 0 0 0 20px;
  word-wrap: break-word;
  max-width: calc(80% - 20px);
  width: calc(80% - 20px);
  display: block;
}
.when_d {
  font-size: 0.8em;
  font-weight: lighter;
  display: flex;
  width: calc(20% - 20px);
  margin: 0 20px 0 0;
  justify-content: flex-end;
  align-items: flex-end;
}
.feedDescription_d {
  display: flex;
}








/*#endregion*/


























  
}