@media only screen and (min-device-width: 760px) {

    #mobile-version {
      display: none;
    }
  
  * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
    }
  
  /* #region*//************ DARK MODE *****************/
  
  
  .dark-theme_d {
    background-color: rgb(18,18,18);
    color:white;
    
  }
  
  .dark-theme_d .mostVisited_d{
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #mostVisited_d {
    border: 1px solid white;
  }
  .dark-theme_d .mostVisited_d:hover {
    border: 1px solid rgb(0, 220, 253);
  }
  
  /*#region*//******* DARK MODE NAVBAR*/
  .dark-theme_d #navbar_d {
    background-color: rgb(18,18,18);
    border-bottom: 1px solid white;
  }
  .dark-theme_d #navbar_d #menu_d a{
    color: white;
  }
  .dark-theme_d #navbar_d #menu_d a:hover {
    border-radius: 0%;
    box-shadow: none;
    color: rgb(0, 220, 253);
  }
  .dark-theme_d #searcher_d {
    background-color: rgba(255,255,255,0.1);
  }
  
  .dark-theme_d #profileclick_d {
    border: 1px solid white;
    background-color: rgb(18,18,18);
  }
  
  .dark-theme_d .erweiterungen_d {
    background-color: rgb(18,18,18);
  }

  .dark-theme_d #login-background_d {
    opacity: 0.8;
    background-color: rgb(18,18,18);
  }

  .dark-theme_d #loggedInDropDownSquare_d {
    background-color: rgb(18,18,18);
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }

  .dark-theme_d #lighter_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #darker_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }
  .dark-theme_d #system_d {
    background-color: rgba(255,255,255,0.1);
  }

  .system_dark-theme_d #lighter_d {
    background-color: rgba(255,255,255,0.1);
    color: white;
  }
  .system_dark-theme_d #darker_d {
    background-color: rgba(255,255,255,0.1);
    color: white;
  }
  .system_dark-theme_d #system_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }
  .system_light-theme_d #lighter_d {
    background-color: rgb(240,240,240);
    color: black;
  }
  .system_light-theme_d #darker_d {
    background-color: rgb(240,240,240);
    color: black;
  }
  .system_light-theme_d #system_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }



  .dark-theme_d #messagePreviewContainer_d {
    color: white;
    background-color: black;
  }
  .dark-theme_d #openMessagesInFull_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d #buttonsZumUmschalten_d {
    background-color: rgba(255,255,255,0.1);
  }
  .dark-theme_d .messageRead_d {
    background-color: rgba(255,255,255,0.1);
  }

  .dark-theme_d .messagesContainer_d {
    background-color: rgb(26,26,26);
  }
  .dark-theme_d .messagesContainer_d .antwort_d .konkreteSprechblase_d {
    background-color: rgb(0, 220, 253);
    color: black;
  }
  
  
  
  /*#endregion*/
  
  
  
  
  
  
  /*#endregion */
  
  body{
      margin: 0;
      padding: 0;
  }

  .main_d {
    margin-top: 100px;
    z-index: 0;
    padding: 50px 0 50px 0;
    position: relative;
    
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  /*#region*//************** NAVBAR UND SEARCHBAR **********/
  
  #logo-bg_d {
    position: absolute;
    z-index: -5;
    height: 20px;
    width: 17%;
    height: 60%;
    left: 0;
  }
  
  #navbar_d {
      position: fixed;
      width: 100%;
      display: flex;
      padding: 10px 10px 10px 10px;
      border-bottom: 1px solid rgba(0,0,0,1);
      height: 110px;
      align-items: flex-end;
      top: 0;
      background-color: white;
      z-index: 2;

      
  }
  
  #navbar_right_d {
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  #search_bar_d {
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  #searcher_d {
    width: 80%;
    font-size: 1.5em;
    border: none;
    background-color: rgba(0,0,0,0.04); /*rgb(245,245,245)*/
  }
  #searcher_d:focus {
    outline: none;
    border: 1px solid rgb(0, 220, 253);
  }
  #suchlupe_d {
    width:5%;
    padding-left: 3%;
    cursor: pointer;
  }
  
  #clickLogo_d {
      height: 90px;
  }
  
  
  
  #menu_d a{
      display: block;
      text-decoration: none;
      font-weight: bold;
      color: black;
      margin: 10px 0 0 0;
      padding: 0;
      text-align: center;
      
      
  }
  #menu_d a:hover {
  
    border-radius: 30%;
    box-shadow:
    
      inset 0 0 50px #fff,     
      inset 20px 0 110px rgb(0, 220, 253),  
      
      0 0 50px #fff,            /* outer white */
      -10px 0 80px rgb(0, 220, 253),      
      10px 0 80px rgb(0, 220, 253);      
  
  }
  
  #menu_d {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      align-items: flex-end;
      margin: 0 0 0 0px;
      font-size: 1.3em;
      flex-wrap: wrap;
  
  }
  
  #profilepic_d {
    max-width: 100%;
    max-height: 100%;
    display: none;
  }
  #profileclick_d {
    width: 80px;
    height: 80px;
    margin: 10px 20px 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    z-index: 5;
  }
  
  /*#endregion*/
  
  
  /* #region/ /******************* TAB ERWEITERUNGEN *****/
  
  #tab_erweiterungen_d {
    width: 100%;
    height: 311px;
    position: fixed;
    z-index: 2;
    left: 0%;
    margin: 0;
    display: none;
    padding: 11px 0 0 0;
    top: 110px;
    
  }
  
  #tab_erweiterungen_d>div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    
  }
  
  #tab_erweiterungen_d img {
    max-height: 80%;
    width: 100%;
    cursor: pointer;
  }
  #tab_erweiterungen_d #bild_d {
    position: absolute;
    right: 10%;
    width: 50%;
  }
  
  #tab_erweiterungen_d>div>div {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 10px;
    
  }
  
  #tab_erweiterungen_d span {
    cursor: pointer;
  }
  
  #tab_erweiterungen_d span:hover {
    border-bottom: 1px solid rgb(0, 220, 253);
  }
  
  .erweiterungen_d {
    background-color: white;
  }
  
  
  /* #endregion*/
  
  
  /* #region*//************************ SLIDESHOW ******************/
  
  .main_d {
    margin-top: 100px;
    z-index: 0;
    padding: 50px 0 50px 0;
    
  }
  .main-objects_d {
  
    margin: 0 0 20px 0;
    
  }
  
  #slideshow_d {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .slider_d {
    height: 300px;
    width: calc(100%);
  }
  
  #slideshow_d .clicker_d {
    border: solid 1px black;
    padding: 16px;
    cursor: pointer;
    position: absolute;
    color: black;
    background-color: rgba(255,255,255,0.2);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    opacity: 0;
    
  }
  #slideshow_d:hover {
    cursor: pointer;
  }
  
  #clickLeft_d {
    left:0;
    
  }
  #clickRight_d {
    right: 0;
    
  }
  
  #slideshow_d .clicker_d:hover {
    background-color: black;
    color: rgb(0, 220, 253);
  }
  
  .animate-left_d {
    position: relative;
    animation: animateleft 0.8s;
  }
  
  @keyframes animateleft {
    from { left :-500px; opacity:0 } 
      to { left:0; opacity:1 }
  }
  
  .dot_d {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  
  /* #endregion*/
  
  
  /* #region*/ /******************** MostVisited Slider ************/
  
  #mostVisited_d {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
  }
  #mostVisited_d a {
    width: 35%;
    height: fit-content;
    margin: 10px;
  }
  
  .mostVisited_d {
    height: 200px;
    
    width: 100%;
    background-color: rgba(0,0,0,0.02);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    cursor: pointer;
    
  }
  
  .mostVisitedImageDiv_d {
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
  }
 .mostVisitedBeschreibung_d {
    position: relative;
    width: 100%;
    height: 20%;
    margin: 10px 0 0 0;
    
    
  }

  #preis_d {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
  }
  #beschreibung_d {
    position: absolute;
    left: 0;
    width: 75%;
    height: 100%;
    text-align: center;
  }
  #mostVisitedHeader_d{
    margin: 0 0 0 20px;
    font-weight: bold;
  
  }
  
  .productSlider_d {
    margin: 100px 0 0 0;
  }

  .clickerMostVisited_d {
    padding: 16px;
    cursor: pointer;
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50% 50% 50% 50%;
    border: 0.5px black solid;
    opacity: 0.5;
    
  }
  .clickerMostVisited_d:hover {
    opacity: 1;
  }
  #clickLeftMostVisited_d {
    left: 0;
  }
  #clickRightMostVisited_d {
    right: 0;
  }
  
  
  
  
  
  /* #endregion*/
  
  
  /* #region*//**************** LOGIN-MASKE **********/
  
  #login-background_d {
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: 9998;
    position: fixed;
    display: none;
  }
  
  
  
  .login-box_d {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(120,120,120);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 9999;
  }
  
  .login-box_d h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box_d .user-box_d {
    position: relative;
  }
  
  .login-box_d .user-box_d input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .moreThanOne_d {
    display: flex;
    justify-content: space-between;
  }
  .registration_d {
    width: 40%;
  }
  
  #regi-box_d {
    display:none;
  }
  
  .login-box_d .user-box_d label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box_d .user-box_d input:focus ~ label,
  .login-box_d .user-box_d input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(0, 220, 253);
    font-size: 12px;
  }
  
  .login-box_d form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(0, 220, 253);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .login-box_d a:hover {
    background: rgb(0, 220, 253);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 220, 253),
                0 0 25px rgb(0, 220, 253),
                0 0 50px rgb(0, 220, 253),
                0 0 100px rgb(0, 220, 253);
  }
  
  .login-box_d a span {
    position: absolute;
    display: block;
  }
  
  .login-box_d a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(0, 220, 253));
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box_d a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(0, 220, 253));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box_d a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(0, 220, 253));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box_d a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(0, 220, 253));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  #buttons-login_d {
    display: flex;
    justify-content: space-between;
  }
  
  .no-show_d {
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.5;
  }
  #registrieren_d span {
    display: none;
  }
  
  
  #close-login-box_d {
    transform: rotate(45deg);
    margin-left: -5px;
    margin-top: -30px;
    font-size: xx-large;
    width:5px;
    cursor: pointer;
  }

/*#endregion*/
  
  
  

/*#region **************** Login Drop Down **********/

#loggedInDropDownSquare_d {

  
  background-color: white;
  position: fixed;
  z-index: 3;
  right: 0;

  width: 75px;
  height: 250px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 5px 5px;
  right: 11px;
  top: 63px;
  flex-direction: column;
  justify-content: space-between;
  display: none;

}

#dreiWege_d {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: 60px 0 0 0;
}

#dreiWege_d div {
  
  border-radius: 25%;
  width: 30%;
  text-align: center;
  cursor: pointer;
}

#lighter_d {
  background-color: rgb(0, 220, 253);
}
#darker_d {
  background-color: rgb(240,240,240);
}
#system_d {
  background-color: rgb(240,240,240);
}



#logout_d {
  
  text-align: center;
  width: 100%;
  cursor: pointer;

}

#myProfile_d {
  font-size: 11px;
  text-align: center;
  
  cursor: pointer;
}

#settings_d {
  font-size: 11px;
  text-align: center;
  
  cursor: pointer;
}

#chatContainer_d {
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
#chatContainer_d img {
  height: 100%;
}

#newMessage_d {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(0, 220, 253);
  right: 30px;
  top: 25px;
  z-index: 999999;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
#newMessage1_d {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(0, 220, 253);
  right: 0;
  z-index: 999999;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}





/* #endregion*/


/*#region *************** Message Preview ********/



#messagePreviewContainer_d {


  position: fixed;
  height: 98%;
  width: 33%;
  background-color: rgb(230,230,230);
  z-index: 9999;
  top: 1%;
  right: -33%;
  transition: 1s;
  border-radius: 20px 0 0 20px;


}

#closeMessagePreview_d {

  font-size: 1.5em;
  font-weight: bolder;
  margin: 20px;
  cursor: pointer;



}

#topBarMessagePreview_d {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}
#openMessagesInFull_d {
  width: 150px;
  margin: 0 10px 0 0;
  padding: 10px;
  height: fit-content;
  background-color: rgb(220,220,220);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

#messageUmschalteButton_d {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
}
#buttonsZumUmschalten_d {
  width: 50%;
  height: 100%;
  background-color: rgb(220,220,220);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}
#haendlerKnopf_d {
  border-bottom: 2px solid rgb(0, 220, 253);
  cursor: pointer;
}
#borderMessage_d {
  height: 70%;
  width: 1px;
  background-color: black;
}
#userKnopf_d {
  cursor: pointer;
}





#messagesInPreviewHaendler_d {
  
  margin: 30px 0 0 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
}
#messagesInPreviewUser_d {
  position: relative;
  margin: 30px 0 0 0;
  width: 100%;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: none;
  overflow: scroll;
}

.messageRead_d {
  position: relative;
  width: 90%;
  min-height: 130px;
  margin: 20px 0 20px 0;
  color: rgb(100,100,100);
  background-color: rgb(220,220,220);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.messageNotRead_d {
  position: relative;
  width: 90%;
  min-height: 130px;
  margin: 20px 0 20px 0;
  background-color: rgb(150,150,150);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}




#obereSpalteMessage_d {
  
  width: 95%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#leftMessage_d {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: left;
}

#profilBildMessage_d {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}
#profilBildMessage_d img {
  max-width: 100%;
  max-height: 100%;
  
}
#profilNameMessage_d {
  margin: 0 0 0 20px;
  font-weight: bolder;
}





#untereSpalteMessage_d {
  position: relative;
  width: 95%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}





















/*#endregion *******/


/*#region #########LÄDT CSS BEVOR DIE HTML ANGEZEIGT WIRD###########*/

#everything {
  display: block !important;
}

/* #endregion*/








  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  