body {
    color: black;
    background-color: white;
    transition-property: background-color, color, opacity, padding, border-radius;
    transition-duration: 1s;
}

#jump {
    text-decoration: none;
    color: black;
    
}

#head-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

#profilbild {

    
    height: 10%;
    width: 10%;
    
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border-end-end-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
    margin-right:30px;
    transition-property: all;
}


#profilbild:hover {

    border: 1px solid rgb(0, 220, 253);
    cursor: pointer;

}

#pb {
    height: 100px;
    width: 50px;
    
}

#main-search {
    height: 10%;
    width: 50%;
    
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.darkmode {
    background-color: black;
    color: white;
}






.logo {
    height: 25%;
    width: 25%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 18%;
    border-radius: 10%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dropdown-content a:hover {background-color: #ddd;}

#profilbild:hover .dropdown-content {display: block;}



#dark {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px black solid;
    padding: 2px;
    font-weight: bold;
    border-radius: 8%;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    color: black;
}

#dark:hover {
    padding: 5px;
    color: rgb(0, 220, 253);
    background-color: aliceblue;
}

#fuer-dich, #entdecken, #neuware, #inserate, #automobil, #immobilien {
    text-decoration: none;
    color: black;
    margin: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition-property: background-color, color, opacity, padding, border-radius;
    transition-duration: 1s;
}

.navilinkdark {
    text-decoration: none;
    color: rgb(0, 220, 253);
    margin: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition-property: background-color, color, opacity, padding, border-radius, border, box-shadow;
    transition-duration: 0.5s;
}

#fuer-dich:hover, #entdecken:hover, #neuware:hover, #inserate:hover, #automobil:hover, #immobilien:hover {
    color: rgb(0, 220, 253);
    background-color: black;
    opacity: 0.5;
    padding: 5px;
    border-radius: 14%;
    border: 1px rgb(0, 220, 253) solid;
    box-shadow: 0px 0px 10px  rgb(0, 220, 253),
    
    0px 0px 20px  rgb(0, 220, 203);
    
}

.navilinkdark {
    color: rgb(0, 220, 253);
    background-color: white;
    opacity: 0.5;
    padding: 5px;
    border-radius: 5%;
    
}

#navbar {
    margin-top: 3%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding:1% 1%;
}

#navbardark {
    margin-top: 3%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding:1% 1%;
}

#navbar > #plus {
    border-radius: 50%;
    border: 2px solid gray;
    padding: 0px 4px 1px 4px;
    text-decoration: none;
    color: black;
    width: 100px;
    height: 100px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.5s;
    
}

#navbar > #plus:hover {
    border: 2px solid rgb(0, 220, 253);
    color: rgb(0, 220, 253);
    background-color: gray;
    
    
}


