body {
    color: white;
    background-color: black;
    transition-property: background-color, color, opacity, padding, border-radius;
    transition-duration: 1s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#jump {
    text-decoration: none;
    color: white;
    
}






.logo {
    height: 100px;
    width: 170px;
    cursor: pointer;
    margin-left: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bab2b2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.737);
    z-index: 1;
    top: 18%;
    border-radius: 10%;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dropdown-content a:hover {background-color: #ddd;}

#profilbild:hover .dropdown-content {display: block;}

#dark {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px white solid;
    padding: 2px;
    font-weight: bold;
    border-radius: 8%;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    color: white;
}

#dark:hover {
    padding: 5px;
    color: rgb(0, 220, 253);
    background-color: aliceblue;
}

#fuer-dich, #entdecken, #neuware, #inserate, #automobil, #immobilien {
    text-decoration: none;
    color: white;
    margin: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition-property: background-color, color, opacity, padding, border-radius;
    transition-duration: 0.5s;
}



#fuer-dich:hover, #entdecken:hover, #neuware:hover, #inserate:hover, #automobil:hover, #immobilien:hover {
    color: rgb(0, 220, 253);
    background-color: white;
    opacity: 0.7;
    padding: 5px;
    border-radius: 14%;
    border: 1px rgb(0, 220, 253) solid;
    box-shadow: 0px 0px 10px  rgb(0, 220, 253),
    
    0px 0px 20px  rgb(0, 220, 203);
    
}
    



#navbar {
    margin-top: 3%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding:1% 1%;
}

#navbardark {
    margin-top: 3%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding:1% 1%;
}

#navbar > #plus {
    border-radius: 50%;
    border: 2px solid gray;
    padding: 0px 4px 1px 4px;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.5s;
    
}

#navbar > #plus:hover {
    border: 2px solid rgb(0, 220, 253);
    color: rgb(0, 220, 253);
    background-color: gray;
    
    
}


.Suche {
    position: relative;
    left: 450px;
    top: 120px;
    width: 300px;
    
    
    border: 0.5px dashed rgba(white, white, white, 0.5);
    
    
}

#head-container {
    
        display: flex;
        align-items: center;
     
        
        height: 110px;
        
    
    
}

#profilbild {

    
    height: 90px;
    width: 90px;

    
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border-end-end-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-right: 80px;
    
    margin-right:100px;
    transition-property: all;
}


#profilbild:hover {

    border: 1px solid rgb(0, 220, 253);
    cursor: pointer;

}

#pb {
    height: 90px;
    width: 45px;
    
}

#main-search {
    height: 20px;
    width: 50%;
    margin-top: 90px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    opacity: 0.8;
    
}