#captionWarenkorb_d {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0 0 0 10px;
}

.artikelContainer_d {
    background-color: grey;
    width: 100%;
    height: 200px;
    margin: 0 0 10px 0;
}

#div-empty-cart_d {
    width: 20%;
    background-color: aqua;
    height: 50px;
    cursor: pointer;
}