@media only screen and (min-device-width: 760px) {


.main_d {
    display: flex;
    flex-direction: column;
}




#artikelContainer_d {
    display: flex;
}

#artikelShopInfo_d {
    width: 30%;
    height: 500px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#artikelBild_d {
    width: 40%;
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#artikelBild_d img {
    max-width: 90%;
    max-height: 90%;
}

#artikelEinkaufActions_d {
    width: 30%;
    height: 500px;
    background-color: purple;
}
#profilBildArtikelSeite_d {
    border: 1px solid grey;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    margin: 0 20px 0 0;
}
#profilBildArtikelSeite_d img {
    width: 70px;
}


#shopGlimpse_d {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;

}
#shopGlimpse_d span{
    font-weight: bolder;
    font-size: 1.5em;

}
#weitereFaktenShop_d span:nth-child(1) {
    color: grey;
}




#profilRatings_d {
    margin: 0 0 20px 0;
}

#stars_d {
    color: rgb(0, 220, 253);
}




#artikelEinkaufActions_d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#preiseKauf_d {
    display: flex;
    justify-content: center;
}
#preiseKauf_d div {
    margin: 0 10px 0 0;
}


#artikelZustand_d {
    left: 30px;
    top: 80px;
    position: absolute;
    font-weight: bolder;
}


#artikelAnzahlUndButtons_d {
    display: flex;
    align-items: center;

}
#einkaufeButtons_d {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

















#artikelBeschreibung_d {
    width: 100%;
    height: 300px;
    background-color: green;
}












  
}

