body {
    background-color: black;
}



#leinwand {
    width: 640px;
    height: 480px;
    background-color: brown;
    margin: auto;
    position: relative;
    perspective: 100px; /*Muss an einem umgebenden Element stehen*/
}

h1 {
    color: yellow;
    padding: 50px;
    margin: auto;
    width: 100px;
    text-align: center;
    text-shadow: 0px 0px 20px yellow,0px 0px 5px yellow, 0px 0px 10px orange, 0px 0px 5px red;

}

p{
    color: yellow;
    margin: 20px;
    text-align: justify;
}

#film {
    
    animation-name: film;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: relative;
    
}

@keyframes film {
    from {top: 0px;}
    to {top: -950px;}
}

#viewport {
    transform: rotateX(15deg);
    width: 640px;
    height: 480px;
    
}
