
.main_d {
    

}





#umschalteKnopf_d {

    width: 99%;
    height: 100px;



}


.messagesContainer_d {

    width: 70%;
    margin: 0;
    background-color: rgb(200,200,200);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 15%;
    z-index: 2;

    height: 700px;
    overflow: scroll;

}

#umschalteKnopf_d {
    display: flex;
    justify-content: center;
    align-items: center;
}

#haendlerKnopfBig_d {
    border-bottom: 2px solid rgb(0, 220, 253);
    cursor: pointer;
}
#userKnopfBig_d {
    cursor: pointer;
}


#user_d {
    display: none;
}




#messagesDetail_d {
    z-index: 0;
    display: flex;
    width: 40%;
    
}


.sprechblase_d {
    border-radius: 20px 20px 20px 0;
    width: 40%;
    min-height: 100%;
    height: fit-content;
    position: absolute;
}
.sprechblase_d div {
    margin: 10px;
    text-align: center;
    height: fit-content;
}

.chatBlase_d {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: red;
    
}

.left_d {
    left: 10px;
    border-radius: 20px 20px 20px 0;
    background-color: rgb(150,150,150);
}
.right_d {
    right: 10px;
    border-radius: 20px 20px 0px 20px;
    background-color: rgb(59,130,246);
}


.uhrzeitLeft_d {
    position: absolute;
    right: 10px;
    bottom: 0;
}
.uhrzeitRight_d {
    position: absolute;
    left: 10px;
    bottom: 0;
}

#eingabeNachricht_d {
    width: 100%;
    display: flex;
    justify-content: center;
}
#nachrichtDesUsers_d {
    width: 50%;
    height: fit-content;
}
#nachrichtDesUsers_d:focus{
    outline: none;
}
































































