
.main_d {
    

}





#umschalteKnopf_d {

    width: 99%;
    height: 100px;



}


.messagesContainer_d {

    width: 70%;
    margin: 0;
    background-color: rgb(200,200,200);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 15%;
    z-index: 2;

    height: 700px;
    overflow: scroll;

}

#umschalteKnopf_d {
    display: flex;
    justify-content: center;
    align-items: center;
}

#haendlerKnopfBig_d {
    border-bottom: 2px solid rgb(0, 220, 253);
    cursor: pointer;
}
#userKnopfBig_d {
    cursor: pointer;
}


#user_d {
    display: none;
}

#messagesDetail_d {
    z-index: 0;
    width: 40%;
}

.nachrichtContainer_d {
    width: 90%;
    height: fit-content;
    
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;

}

.sprechBlase_d {
    width: 45%;
    height: fit-content;
    
}
.datum_d {
    width: 45%;
    height: 100%;
    font-weight: lighter;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.konkreteSprechblase_d {
    width: 100%;
    height: fit-content;
    background-color: rgb(150,150,150);
    border-radius: 20px 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.konkreteSprechblase_d div {
    width: 90%;
    height: fit-content;
    margin: 10px;
    text-align: center;
}

.antwort_d {
    flex-direction: row-reverse;
}

.antwort_d .konkreteSprechblase_d {
    border-radius: 20px 20px 0 20px;
    background-color: rgb(59,130,246);
}

#eingabeFeld_d {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 50px 0 20px 0;

}



.textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
    display: block;
    width: 75%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
  }
  .textarea:focus {
    outline: none;
  }
  
  .textarea[contenteditable]:empty::before {
    content: "Nachricht schreiben...";
    color: gray;
  }

  #messageSenden_d {
    cursor: pointer;
    width: 15%;
    background-color: rgb(150,150,150);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }

 














































