@media only screen and (min-device-width: 316px) and (max-device-width: 550px) {

    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
        margin: 0;
        
    }

    h1 {
        font-size: x-large;
        margin-left: 12px;
    }


    #conversation1_m {
        background-color: rgba(221, 216, 216, 0.558);
        width: 100%;
        height: 80px;
        padding: 5px;
        margin-bottom: 5px;
        
    }

    #conv-header_m {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    #conv-img-div_m {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 25px;
        width: 25px;
        margin-left: 5px;
        border: 1px solid gray;
        border-radius: 25%;
        padding: 2px;
    }

    #conv-img-div_m > img {
        height: 100%;
        width: 100%;
        background-color: white;

    }

    #conv-name-div_m {
        margin-left: 5px;
        font-weight: 700;
        
    }

    #message_m {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 8px;
        width: 100%;
    }

}
